
doctype html
html(lang="en")
	head

		title #{title}

	
		link(rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css")

	
		script(src="lib/angular/angular.min.js")
		script(src="lib/angular-route/angular-route.min.js")

	
		script(src="js/controller/MainCtrl.js")
		script(src="js/controller/NerdCtrl.js")
		script(src="js/services/NerdService.js")
		script(src="js/controller/GeekCtrl.js")
		script(src="js/services/GeekService.js")
		script(src="js/appRoutes.js")
		script(src="js/app.js")

	body(ng-app="sampleApp")
		div.container(ng-controller = "mainController")
			nav.navbar.navbar-inverse
				div.navbar-header
					a.navbar-brand(href="/") Node and Angular
				ul.nav.navbar-nav
					li
						a(href="/detail") Details
			p
				strong id: #{myuser.id} 
				br
				strong token: #{myuser.token}
				br
				strong email: #{myuser.email}
				br
				strong name: #{myuser.name}

			div(ng-view)

